body {
    margin: 0px;
    padding: 0px;
    background-color: #1FD4D6;
    border-radius: 15px;
}

nav {
    margin: 3px;
    margin-right: 10px;
}

nav p {
    color: rgb(255, 255, 255);
    box-shadow: 1px 1px 2px #36E7C5, 0 0 25px #36E7C5, 0 0 25px #36E7C5;
    text-shadow: 1px 1px 2px rgb(4, 4, 4), 0 0 25px rgb(0, 247, 148), 0 0 5px rgb(4, 255, 4);
    margin: 5px;
    padding: 0px;
    background-color: #B5F0F1;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    font-family: monospace;

}

.quiz {
    width: auto;
    position: relative;
    background-color: white;
    margin-top: 150px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
    padding: 15px;
    font-weight: bold;
    font-family: monospace;
    box-shadow: 1px 1px 2px rgb(4, 4, 4), 0 0 25px rgb(0, 247, 148), 0 0 5px rgb(4, 255, 4);
}

.question {
    font-size: 25px;
    padding-bottom: 5px;
    border-bottom: 2px #36E7C5 solid;
    text-shadow: 2px 1px #36E7C5;
    color: #163B3C;
}

.options {
    position: relative;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 0px;
}

.btn {
    margin-bottom: 5px;
    margin-right: 5px;
    height: 53px;
    width: 48%;
    color: white;
    font-size: 20px;
    text-shadow: 2px 1px darkgrey;
    font-weight: 500;
    font-family: monospace;
    border-radius: 10px;
    border-color: #090909;
    border-width: medium;
    background-color: grey;
}

.btn:hover:not([disabled]) {
    transition: 0.4s;
    font-size: 21px;
    text-shadow: 1px 1px 1px black;
    background-color: cyan;
    border-color: #36E7C5;
    box-shadow: 1px 1px 2px #36E7C5, 0 0 2px #36E7C5, 0 0 5px #36E7C5;
}

.next button {
    position: relative;
    margin-left: 43%;
    margin-right: 47%;
    background-color: #36E7C5;
    font-size: 25px;
    font-family: monospace;
    border-radius: 10px;
    color: grey;
    text-shadow: 1px 2px white;
    margin-bottom: 5px;
}

.next button:hover {
    transition: 0.2s;
    color: rgb(4, 4, 4);
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    background-color: cyan;
    border-color: #36E7C5;
    box-shadow: 1px 1px 2px #36E7C5, 0 0 2px #36E7C5, 0 0 5px #36E7C5;
}

.right .btn{
    transition: 0.5s;
    background-color: #4EF0D1;
    text-shadow: 2px 2px green;
}

.wrong .btn{
    opacity: 0.5;
    transition: 0.5s;
    background-color: #ff0000;
    text-shadow: 1px 1px black;
}